{%- assign featured_image = collection.image -%}
{%- assign max_height = 195 -%}
{%- assign limit = 100 -%}

{% paginate collection.products by limit %}

<div class="collection--{{ catalog_id | handleize }} collection-release" data-section-type="collection-template">
  <header class="collection-header">
    <div class="collection-hero" style="margin-bottom: 0;">
      <div class="collection-hero__image ratio-container lazyload js{% if featured_image.aspect_ratio > 2 %} wide{% endif %}"
           data-bgset="{% include 'bgset', image: featured_image %}"
           data-sizes="auto"
           data-parent-fit="contain"
           style="background-image: url('{{ featured_image | img_url: '2048x' }});"></div>
      <noscript>
        <div class="collection-hero__image" style="background-image: url({{ featured_image | img_url: '2048x' }});"></div>
      </noscript>
    </div>
  </header>

  <section class="release-products">
    <div class="section-container page-width">
      <div class="section-header text-center">
        <h2>{{ collection.title }}</h2>
      </div>
  
      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}

        <div class="filters-toolbar-wrapper filters-toolbar--has-filter">
          <div class="filters-toolbar">
            <div class="filters-toolbar__item-wrapper">
                {% unless collection.all_tags.size == 0 %}
                  <div class="filters-toolbar__item-child">
                    <div class="filters-toolbar__input-wrapper select-group">
                      <select class="filters-toolbar__input hidden" name="FilterTags" id="FilterTags" aria-describedby="a11y-refresh-page-message a11y-selection-message">
                        {% if collection.handle == 'vinyl' %}
                          <option value="{{ collection.url }}">All {{ collection.handle }}&nbsp;&nbsp;&nbsp;</option>
                          <option value="/collections/{{ collection.handle }}/lp"{% if current_tags contains 'LP' %} selected="selected"{% endif %}>LP / 12"</option>
                          <option value="/collections/{{ collection.handle }}/10in"{% if current_tags contains '10in' %} selected="selected"{% endif %}>10"</option>
                          <option value="/collections/{{ collection.handle }}/7in"{% if current_tags contains '7in' %} selected="selected"{% endif %}>7"</option>
                        {% elsif collection.handle == 'merch' %}
                          <option value="{{ collection.url }}">All {{ collection.handle }}&nbsp;&nbsp;&nbsp;</option>
                          <option value="/collections/{{ collection.handle }}/t-shirt"{% if current_tags contains 'T-Shirt' %} selected="selected"{% endif %}>T-Shirts</option>
                          <option value="/collections/{{ collection.handle }}/girls-t-shirt"{% if current_tags contains 'Girls T-Shirt' %} selected="selected"{% endif %}>Girls T-Shirts</option>
                          <option value="/collections/{{ collection.handle }}/longsleeve"{% if current_tags contains 'Longsleeve' %} selected="selected"{% endif %}>Long Sleeves</option>
                          <option value="/collections/{{ collection.handle }}/hoodie"{% if current_tags contains 'Hoodie' %} selected="selected"{% endif %}>Hoodies</option>
                          <option value="/collections/{{ collection.handle }}/bag"{% if current_tags contains 'Bag' %} selected="selected"{% endif %}>Bags</option>
                        {% else %}
                          <option value="{{ collection.url }}">{{ 'collections.filters.all_tags' | t }}</option>
                          {% for tag in collection.all_tags %}
                            {%- assign new_url = tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first -%}
                            <option value="{{ new_url }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                          {% endfor %}
                        {% endif %}
                      </select>
                      {% include 'icon-chevron-down' %}
                    </div>
                  </div>
                {% endunless %}

              {% if section.settings.sort_enable %}
                <div class="filters-toolbar__item-child">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <label class="filters-toolbar__label select-label" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                  <div class="filters-toolbar__input-wrapper select-group">
                    <select name="sort_by" id="SortBy"
                      class="filters-toolbar__input hidden"
                      aria-describedby="a11y-refresh-page-message a11y-selection-message"
                      data-default-sortby="{{ collection.default_sort_by }}"
                    >
                      {%- for option in collection.sort_options -%}
                        <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
                      {%- endfor -%}
                    </select>
                    {% include 'icon-chevron-down' %}
                  </div>
                </div>
              {% endif %}
            </div>

            <div class="filters-toolbar__item filters-toolbar__item--count">
              <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
            </div>
          </div>
        </div>

      <ul class="grid grid--flex grid--uniform">
        {% for product in collection.products %}
        <li class="grid__item medium-up--one-quarter">
          {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: true %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

{% endpaginate %}