{%- assign featured_image = collection.image -%}
{%- assign max_height = 195 -%}
{%- assign limit = 100 -%}

{% paginate collection.products by limit %}

<div class="collection--{{ catalog_id | handleize }} collection-release" data-section-type="collection-template">
  <header class="collection-header">
    <div class="collection-hero" style="margin-bottom: 0;">
      <div class="collection-hero__image ratio-container lazyload js{% if featured_image.aspect_ratio > 2 %} wide{% endif %}"
           data-bgset="{% include 'bgset', image: featured_image %}"
           data-sizes="auto"
           data-parent-fit="contain"
           style="background-image: url('{{ featured_image | img_url: '2048x' }});"></div>
      <noscript>
        <div class="collection-hero__image" style="background-image: url({{ featured_image | img_url: '2048x' }});"></div>
      </noscript>
    </div>
  </header>

  <section class="release-products">
    <div class="section-container page-width">
      <div class="section-header text-center">
        <h2>{{ collection.title }}</h2>
      </div>
  
      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}

      <div class="filters-toolbar-wrapper filters-toolbar--has-filter">
        <div class="filters-toolbar">
          <div class="filters-toolbar__item-wrapper">
            {% unless collection.all_tags.size == 0 %}
                <div class="filters-toolbar__item-child">
                  <div class="filters-toolbar__input-wrapper select-group">
                    <select class="filters-toolbar__input hidden" name="FilterTags" id="FilterTags" aria-describedby="a11y-refresh-page-message a11y-selection-message">
                        <option value="{{ collection.url }}">All products</option>
                        <option value="/collections/{{ collection.handle }}/lp"{% if current_tags contains 'LP' %} selected="selected"{% endif %}>LP / 12"</option>
                        <option value="/collections/{{ collection.handle }}/10in"{% if current_tags contains '10in' %} selected="selected"{% endif %}>10"</option>
                        <option value="/collections/{{ collection.handle }}/7in"{% if current_tags contains '7in' %} selected="selected"{% endif %}>7"</option>
                        <option value="/collections/{{ collection.handle }}/cd"{% if current_tags contains 'CD' %} selected="selected"{% endif %}>CD</option>
                        <option value="/collections/{{ collection.handle }}/cassette"{% if current_tags contains 'cassette' %} selected="selected"{% endif %}>Cassette</option>
                    </select>
                    {% include 'icon-chevron-down' %}
                  </div>
                </div>
            {% endunless %}
          </div>

          <div class="filters-toolbar__item filters-toolbar__item--count">
            <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
          </div>
        </div>
      </div>

      <ul class="grid grid--flex grid--uniform">
        {% for product in collection.products %}
        <li class="grid__item medium-up--one-quarter">
          {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: true %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

{% endpaginate %}