{%- assign featured_image = collection.image -%}
{%- assign max_height = 195 -%}
{%- assign limit = 100 -%}

{% paginate collection.products by limit %}

<div class="collection--{{ catalog_id | handleize }} collection-release" data-section-type="collection-template">
  <header class="collection-header">
    <div class="collection-hero" style="margin-bottom: 0;">
      <div class="collection-hero__image ratio-container lazyload js{% if featured_image.aspect_ratio > 2 %} wide{% endif %}"
           data-bgset="{% include 'bgset', image: featured_image %}"
           data-sizes="auto"
           data-parent-fit="contain"
           style="background-image: url('{{ featured_image | img_url: '2048x' }});"></div>
      <noscript>
        <div class="collection-hero__image" style="background-image: url({{ featured_image | img_url: '2048x' }});"></div>
      </noscript>
    </div>
  </header>

  <section class="release-products">
    <div class="section-container page-width">
      <div class="section-header text-center">
        <h2>{{ collection.title }}</h2>
      </div>
  
      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}

      <ul class="grid grid--flex grid--uniform">
        {% for product in collection.products %}
        <li class="grid__item medium-up--one-quarter">
          {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: true %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

{% endpaginate %}