{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% if collection.description != blank %}
  {% include 'shortcode', load: collection.description %}
{% endif %}

{%- assign featured_image = collection.image -%}
{%- assign max_height = 195 -%}
{%- assign limit = 100 -%}

<div class="collection--{{ catalog_id | handleize }} collection-release" data-section-type="collection-template">
  <header class="collection-header">
    <div class="collection-hero">
      <div class="collection-hero__image ratio-container lazyload js{% if featured_image.aspect_ratio > 2 %} wide{% endif %}"
           data-bgset="{% include 'bgset', image: featured_image %}"
           data-sizes="auto"
           data-parent-fit="contain"
           style="background-image: url('{{ featured_image | img_url: '2048x' }});"></div>
      <noscript>
        <div class="collection-hero__image" style="background-image: url({{ featured_image | img_url: '2048x' }});"></div>
      </noscript>
    </div>
  </header>

  <section class="release-products">
    {% if collection.products.size > 0 or sc_shop_digital != blank %}
    <div id="buy" class="section-container page-width">
      <div class="section-header text-center">
        <h2>{% if pre_order == true %}Pre-{%endif%}Order Now!</h2>
      </div>
      <ul class="grid grid--flex grid--uniform">
        {% if sc_shop_digital != blank %}
          {{ sc_shop_digital }}
        {% endif %}
        {% for product in collection.products %}
        <li class="grid__item medium-up--one-third">
          {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: true %}
        </li>
        {% endfor %}
        {% if sc_shop_merch != blank %}
          {{ sc_shop_merch }}
        {% endif %}
      </ul>
    </div>
    {% endif %}

    {% if sc_shop_partner != blank %}
    <div id="partner" class="section-container page-width">
      {{ sc_shop_partner }}
    </div>
    {% endif %}
  </section>
  
  {% if sc_media != blank %}
    <section class="dark release-media">
      <div id="media" class="section-container page-width">
        <div class="grid grid--flex">
          <div class="grid__item medium-up--three-fifths">
            <div class="section-header text-center">
              <h2>Watch // Listen</h2>
            </div>
            <div class="sc-grid">
            {{ sc_media }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if sc_digital != blank %}
    <section class="dark{% if collection.image != blank %} transparent{% endif %} release-digital-links">
      <div id="stream" class="section-container page-width">
        <div class="grid grid--flex">
          <div class="grid__item medium-up--one-half">
            <div class="section-header text-center">
              <h2>Stream</h2>
            </div>
            {{ sc_digital }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if sc_read != blank or sc_description != blank %}
    <section class="release-read">
      <div id="read" class="section-container page-width">
        {% if sc_description != blank %}
          {{ sc_description }}
        {% endif %}
        {% if sc_read != blank %}
          {% assign sc_read_col = sc_read | strip | split: '<p>' %}
          <div class="release-reviews">
            {% if sc_read_col.size > 3 %}
              <div class="grid--masonry" data-masonry='{ "percentPosition": true, "itemSelector": "p", "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer" }'>
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                {{ sc_read }}
              </div>
            {% else %}
              {{ sc_read }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}
</div>
